<div class="login-box">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
    <div class="user-box">
      <input
        type="text"
        name="username"
        required="true"
        #username="ngModel"
        [class.is-invalid]="username.invalid && username.touched"
        [(ngModel)]="user.username"
      />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input
        type="password"
        name="password"
        required="true"
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
        [(ngModel)]="user.password"
      />
      <label>Password</label>
    </div>

    <div *ngIf="password.errors && (password.invalid || password.touched)">
      <small class="text-danger pw-err" *ngIf="password.errors.required">
        Password is required to Login
      </small>
    </div>
    <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <input
        type="submit"
        value="S U B M I T"
        class="btn"
        style="color: white"
        (click)="doLogin()"
      />
    </a>
    <a routerLink="/register"  style="height: 56px">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <p style="margin-top: 5px">Register</p>
    </a>
  </form>
</div>
