<footer>
  <div id="footer-bg" class="footerblock">
    <div class="footer-icon">
      <div class="social-media">
        <p class="soc-med">Follow Us</p>
        <hr />
        <a
          href="#"
          target="_blank"
          class="soc-med-icon icon-fb"
          rel="noreferer"
        >
          <img
            class="icon-fb"
            src="/assets/img/facebook_fb_feed_logo_media_icon.png"
            alt=""
          />
        </a>
        <a
          href="#"
          target="_blank"
          class="soc-med-icon icon-tw"
          rel="noreferer"
        >
          <img
            class="icon-tw"
            src="/assets/img/twitter_logo_social media_icon.png"
            alt=""
          />
        </a>
        <a
          href="#"
          target="_blank"
          class="soc-med-icon icon-ig"
          rel="noreferer"
        >
          <img
            class="icon-ig"
            src="/assets/img/instagram_media_photo_picture_icon.png"
            alt=""
          />
        </a>
        <a
          href="#"
          target="_blank"
          class="soc-med-icon icon-dcord"
          rel="noreferer"
        >
          <img
            class="icon-dcord"
            src="/assets/img/discord_logo_logos_icon.png"
            alt=""
          />
        </a>
      </div>
    </div>

    <div class="footer-link-block footer-links">
      <p class="footer-links">
        <a routerLink="/home" class="footer-link" id="footer-bg">Home</a>
        <a
          href="http://"
          class="footer-link"
          target="_blank"
          rel="noopener noreferrer"
          >Platforms</a
        >
        <a
          href="http://"
          class="footer-link"
          id="footer-bg"
          target="_blank"
          rel="noopener noreferrer"
          >About</a
        >
        <a
          href="http://"
          class="footer-link"
          target="_blank"
          rel="noopener noreferrer"
          >FAQ</a
        >
        <a
          href="http://"
          class="footer-link"
          target="_blank"
          rel="noopener noreferrer"
          >Contact</a
        >
      </p>
    </div>
    <div class="rr">
      <p>Gamer's Paradise is property of Team 8 at Revature © 2021</p>
    </div>
  </div>
</footer>
