<app-navbar></app-navbar>

<!-- <app-game-cards></app-game-cards> -->
<div class="container">
  <div class="row">
    <div class="col">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col">
          <app-carousel></app-carousel>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-game-cards></app-game-cards>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <app-carousel></app-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <app-game-cards></app-game-cards>
    </div>
  </div> -->
</div>

<!-- <app-carousel></app-carousel>
<app-game-cards></app-game-cards> -->
<app-footer></app-footer>