

<div class="list-group" >
    <a routerLink="/genre/action" class="list-group-item list-group-item-action bg-dark" (click)="onClick()">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Action</h5>
      </div>
      <p class="mb-1">Fight for your life in epic fashion.</p>
      <small class="text-muted">Withcer 3: Wild Hunt</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Strategy</h5>
      </div>
      <p class="mb-1">Be cautious and careful. Every decision matters in these games.</p>
      <small class="text-muted">Tropico 4</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">RPG</h5>
      </div>
      <p class="mb-1">Become exactly who you want to be in the Role Playing Game.</p>
      <small class="text-muted">The Elder Scrolls V: Skyrim</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Shooter</h5>
        </div>
        <p class="mb-1">Shoot em' up and then keep shooting</p>
        <small class="text-muted">Apex Legends, Titanfall 2</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Adventure</h5>
        </div>
        <p class="mb-1">Explore the vast landscape of the world to go on wild adventures</p>
        <small class="text-muted">GTA V</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Puzzle</h5>
        </div>
        <p class="mb-1">Your brain will be tested in the games.</p>
        <small class="text-muted">Portal 2</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Racing</h5>
        </div>
        <p class="mb-1">Move fast and strive for faster, In these games speed is King.</p>
        <small class="text-muted">Forza Horizon 4</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Sports</h5>
        </div>
        <p class="mb-1">Strive for greatness in games that test your competitive motor.</p>
        <small class="text-muted">FIFA 19</small>
      </a>
  </div>
