.navbar{
    background-color: #3F0071;
}

.nav-item:hover{
    background-color: #150050;
}

.dropdown-menu{
    background-color: #610094;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color:#610094;
    background-color: white;
}

@media screen and (max-width: 1000px){
    navbar{
        width: 100%;
    }
}    