<p>profile-details works!</p>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome </h1>
        <p class="lead">{{username}}</p>
        <hr class="my-2">
        <p>my details</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">profile</h3>
            <p class="card-text">Text</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">your reviews</h3>
            <p class="card-text">Text</p>
          </div>
        </div>
      </div>
    </div>
</div>