.row{
    width: 100%;
    
}

.list-group{
    border-style: solid, 1px, #150050;
    margin-top: 0px;
    margin-left: 0;

    /* position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    overflow-x: hidden; */
}
.list-group-item h5{
    color: white;
    /* color: rgb(60, 172, 60); */
}

.list-group-item{
    background-color: #3F0071;
    border-style: solid 1px #150050;
    color:white;
    width:150px;
    height: auto;
}

.list-group-item:hover{
    background-color: #150050;
}

a{
    color: white;
}
.card{
    /* color: #150050; */
    background-color: #3F0071;
    margin-left: 30px;
    margin-right: 80px;
}

button{
    background-color: #610094;
    color: white;
}

.badge{
    background-color: white;
    color: #610094;
}

button:hover{
    background-color: white;
    color: #610094;
}
    button .badge:hover{
        background-color: #610094;
        color: white;
    }
