

<div class="container">
  <h1> {{name}}</h1>
  <div class="row">
    <div class="col-3">
      <!-- This is the code for the sidebar  -->
      <div class="list-group" >
        <a class="list-group-item list-group-item-action bg-dark" (click)="onClick(genre.slug)" *ngFor="let genre of genres">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ genre.name }}</h5>
          </div>
          <!-- <p class="mb-1">Fight for your life in epic fashion.</p>
          <small class="text-muted">Withcer 3: Wild Hunt</small> -->
        </a>
      </div>
    </div>
    <!-- Sidebar ends here -->
    <!-- Start of game cards -->

    <div class="col-9">
      <div class="row">
        <div class="col-md-3" *ngFor="let game of games">
          <div class="card text-white bg-dark">
            <img src="{{ game.background_image }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ game.name }}</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
              </p>
              <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>