.container{
    width: 100%;
    
}

.row{
    width: 100%;
}

.list-group{
    margin-top: 0px;
    margin-left: 0;
}
.list-group-item h5{
    color: rgb(60, 172, 60);
}

.list-group-item{
    /* background-color: black; */
    color:white;
    width:150px;
    height: auto;
}
a{
    color: white;
}
.card{
    margin-left: 30px;
    margin-right: 80px;
}